:root {
    --main-height :calc(100vh - 10em);
}
main{ height: var(--main-height);
}

footer{
    height: 10em;
    background-color: rgb(80, 115, 149);
}
nav{
    width: 20%;
    background-color: rgb(44, 61, 78) ;
    height:var(--main-height);
    display: flex;
    flex-direction: column;
}
/*nav > #foot-nav{
    align-self: flex-end;
}*/
#main-content{
    width: 80%;
    height: var(--main-height);
    background-color: slategrey;
    overflow: scroll;
}
#logo{
    background-color: cornflowerblue;
}
#logo .logo-img{
    width: 55%;
    padding: 1.5rem;
}
#home-cont{
    background-color: slategray;
}
.icn-nav{
    border: 1px solid black;
    font-size: 40px;
    padding: 1rem;
}
.icn-nav:hover{
    border-left: 5px solid greenyellow;
}
#plylist-cont{
    width: 100%;
}
.pls{
    padding: 1rem;
    background-color: slategray;
}
.ply-scroll{
    width: 100%;
    height: 10em;
    background-color: cadetblue;
    overflow: scroll;
    margin-top: 1rem;
}
#nav-foot{
    align-self: flex-end;
    height: 8em;
    border: 3px solid white;
    width: 100%;
}
#up{
    padding: 1rem 3rem;
    border: 1px solid white;
    color: white;
    border-radius: 30px;
    margin: 2rem 0;
    display: inline-block;
}

.upgrade{
    /*height: 8em;*/
    width: 100%;
    background-color: rgb(80, 115, 149);
    display: flex;
    justify-content: end;
}
#essential{
    height: var(--main-height);
    width: 100%;
    background-color: rgb(96, 90, 128);
    
}
.music-kind{
    width: 100%;
    background-color: rgb(170, 140, 145);
    display: flex;
    justify-content: center;
}
.kind-cont{
    width: 70%;
    /*height: 100%;
    background-color:rgb(148, 91, 101);*/
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
.kind{
    height: 100%;
}
.txt-kind{
    font-size: 1.2rem;
    padding: 1rem;
}
.txt-kind:hover{
    border-bottom: 2px solid black;
    cursor: pointer;
}

.sub-ess{
    background-color: rgb(71, 47, 93);
    margin: 1.5rem;
}
.cont-played{
    background-color: slategrey;
    height: 20em;
    padding: 1rem;
}
.cont-for-u {
    background-color: slategrey;
    height: 20em;
    padding: 1rem;
}
.pop-cont{
    background-color: slategrey;
    height: 20em;
    padding: 1rem;
}
.card{
    width: calc((100% / 6) - 1rem);
    height:100%;
    background-color: rgb(220, 193, 232);
    border: 3px solid black;
    margin-right: 0.5rem;
}
.card-top{
    height: 75%;
    width: 100%;
    background-color: rgb(129, 101, 155);
}
.card-bot{
    height: 25%;
    width: 100%;
    background-color: slateblue;
}
.gray-txt{
    color: slategray;
    font-size: 20px;
}
#circle{
    /*USARE ASPECT-RATIO*/
    width: 205px;
    height: 205px;
    border-radius: 50%;
    background-color: black;
}

@media  and (max-width: 768px) {
    .cont-played{
        flex-wrap:wrap;
    }
    .kind-cont{
        flex-wrap:wrap;
    }
}















