:root {
    --main-height :calc(100vh - 10vh);
}
main{
    /*width: 100%;*/ 
    height: var(--main-height);
    background-color: rgba(27, 27, 28);
    /*overflow: scroll;*/
}
/*button{background:none;}*/
footer{
    height: 10vh;
    background-color: rgb(41, 41, 41);
}
nav{
    width: 20%;
    /*background-color: rgb(44, 61, 78) ;*/
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}
#main-content{
    width: 80%;
    /*height: var(--main-height);*/
    overflow: scroll;
}
h2{
    color: white;
}
p{
    color: slategray;
}
i{
    color: white;

}
#smll-logo{
    display: none;
}
#logo{
    
}
#logo .logo-img{
    width: 40%;
    padding-top: 1.5rem;
}
#home-cont{
}
.icn-nav{
    border: 1px solid black;
    font-size: 25px;
    padding: 1rem 0;
}
.icn-nav:hover{
    border-left: 5px solid greenyellow;
}
#plylist-cont{
    
}
.pls{
    padding: 0.5rem;
    background-color:rgb(32, 32, 32);
}
.ply-scroll{
    /*width: 100%;*/
    height: 10em;
    background-color: rgb(32, 32, 32);
    overflow: scroll;
    margin: 1rem 0;
    margin-right: 0.5rem
}
#nav-foot{
    margin-top: auto;
    padding: 0.5rem;
}
hr{
    width: 70%;
}
.prof-img{
    height: 25px;
    width: 25px;
    background-color: slategray;
    border-radius: 50%
}
#up{
    padding: 0.4rem 2rem;
    border: 1px solid white;
    color: white;
    border-radius: 30px;
    margin: 1rem 0;
    display: inline-block;
}

.upgrade{
    /*height: 8em;*/
    /*width: 100%;*/
    /*background-color: rgb(80, 115, 149);*/
    background-color: rgba(21, 20, 20);
    display: flex;
    justify-content: end;
}
#essential{
    /*background-color: rgb(96, 90, 128);*/
    /*background-color: rgba(27, 27, 28);*/
    height: 100%;
}
.music-kind{
    /*width: 100%;*/
    /*background-color: rgb(170, 140, 145);*/
    display: flex;
    justify-content: center;
}
.kind-cont{
    width: 70%;
    /*height: 100%;
    background-color:rgb(148, 91, 101);*/
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
.kind{
    /*height: 100%;*/
}
.txt-kind{
    font-size: 0.8rem;
    padding: 1rem;
    color: white;
}
.txt-kind:hover{
    border-bottom: 2px solid rgb(255, 255, 255);
    cursor: pointer;
}

.sub-ess{
    /*margin: 1.5rem;*/
}
.play{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#circle:hover .play{
    display: block;
}
.card-top:hover{
    background-color: rgba(0, 0, 0, 0.781);
    opacity: 0.2;
}   
.card-top:hover .play{
    display: block;
}
.cont-played , .cont-for-u , .pop-cont{
    padding: 1rem;
    flex-wrap: nowrap;
}

.card{
    width: calc((100% / 6) - 2rem);
    margin-right: 1rem;
    margin-left: 1rem;
}
.card-top{
}
.card-bot{
}
.gray-txt{
    color: slategray;
}
#circle{
    border-radius: 50%;
    margin:0 1rem;
}
.crc-img{
    border-radius: 50%;
}
.img-lft{
    
}
.rgt-foot{
     width: 25%;
}
.cntr-foot{
      width: 100%;
}
.lft-foot{
      width: 25%;
}
#volume{
    background: slategray;
}
/*input[type="range"]{
    width: 20rem;
    height: 5px;@m
}*/
.dot{
    height: 0.7em;
    width: 0.7em;
    border-radius: 50%;
    background-color: rgb(52, 118, 149);
}   
.dot:hover{
       display: block;
       position: absolute;
}
.bar{
    width: 6em;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
}
.bar:hover{
    background-color: slategray;
    position: relative;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
      .card{ 
        width: calc((100% / 4) - 2rem);
        margin-left:1rem;
        margin-right:1rem;
    }
    /*.sub-ess{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }*/
    .cont-played , .cont-for-u , .pop-cont{
        flex-wrap:wrap;
    }
    .kind-cont{
        flex-wrap:wrap;
        text-align: center;
    } 
    main{
        background-color: darkcyan;
    }
}
@media  screen and (max-width: 768px) and (min-width: 576px) {
    .card{ 
        width: calc((100% / 2) - 2rem);
        margin-left:1rem;
        margin-right:1rem;
    }
    .cont-played , .cont-for-u , .pop-cont{
        flex-wrap:wrap;
    }
    .kind-cont{
        flex-wrap:wrap;
        text-align: center;
    }
    .fold-heart{
        flex-direction: column;
        padding-left: 0.5rem;
    } 
    .foot-icn{
        padding: 0.2rem;
    }
    .rgt-foot{
        width: 33%;
   }
   .cntr-foot{
         width: 100%;
   }
   .lft-foot{
         width: 33%;
   }
}
@media screen and ( max-width: 576px) {
    #smll-logo{
        display: block;
        padding-top: 0.4rem;
    }
    .logo-img{
        display: none;
    }
    .smll-logo{
        display: block;
        width: 20%;
    }
    .txt-nav{
        display: none;
    }
    nav{
       width: 8%;
       padding: 0.2rem;
    }
    .nav-foot{
     margin-top: 0;
    }
    #down{
        width: 90%;
        padding-right: 0.1rem;
    }
    #maincontent{
        width: 92%;
    }
    .card{ 
        width: calc((100% / 2) - 2rem);
        margin-left:1rem;
        margin-right:1rem;
    }
    .cont-played , .cont-for-u , .pop-cont{
        flex-wrap:wrap;
    }
    .kind-cont{
        flex-wrap:wrap;
        text-align: center;
    }
    .fold-heart{
        flex-direction: column;
        padding-left: 0.5rem;
    } 
    .foot-icn{
        padding: 0.2rem;
    }
    .rgt-foot{
        width: 33%;
   }
   .cntr-foot{
         width: 100%;
   }
   .lft-foot{
         width: 33%;
   }
}
















